Repository duan602728596/sweet: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint

.lintstagedrc.yml:

linters:
  packages/**/*.{js,jsx}: eslint
  packages/**/*.{ts,tsx}: tslint
ignore:
  - node_modules
  - packages/**/node_modules

refactor: 删除lint-tstaged的配置文件，改为放在package.json中
  .lintstagedrc
  package.json
  packages/util-tools/test/update.js
Due: eslint

perf: 安装husky
  package.json
Due: none

perf: 使用yaml配置文件配置lint-staged
  .lintstagedrc.yml
  package.json
Due: none

style: 格式化代码
  packages/util-tools/test/update.js
Due: eslint

perf: 安装cosmiconfig
  packages/milktea/package.json
Due: none

perf: 调整函数的传参
  packages/milktea/src/milktea.ts
  packages/milktea/src/utils/jsRegisterLoader.ts
Due: tslint

docs: 修改文档说明
  packages/milktea/README.md
Due: none

test: 由于函数的改变，调整测试用例
  packages/milktea-cli/src/argv/argvBuild.ts
  packages/milktea-cli/src/argv/argvDll.ts
  packages/milktea-cli/src/argv/argvStart.ts
  packages/milktea-cli/test/.sweetrc.build.js
  packages/milktea-cli/test/.sweetrc.js
  packages/milktea-cli/test/src/app.js
Due: eslint, tslint

refactor: 调整了类型判断
  packages/milktea/src/milktea.ts
Due: tslint

perf: 使用commitizen和lint-staged
  .lintstagedrc.yml
  package.json
Due: none

refactor: 修改lint-staged的规则
  .lintstagedrc.yml
Due: none

ci: 修改lerna安装npm包的命令
  package.json
Due: none

test: 生产环境下编译会卡进程，导致无法输出文件，所以将"production"改为"development"
  packages/server/test/proServer.js
  packages/server/test/test.js
Due: eslint

test: 抽取webpack配置，成为公共函数
  packages/server/test/compiler.js
  packages/server/test/devServer.js
  packages/server/test/proServer.js
  packages/server/test/test.js
Due: eslint

test: 修改返回类型void->Object
  packages/server/test/compiler.js
Due: eslint

chore: 更新依赖
  package.json
  packages/milktea-cli/package.json
  packages/milktea-cli/package.json.lerna_backup
  packages/milktea/package.json
  packages/milktea/package.json.lerna_backup
  packages/server/package.json
  packages/server/package.json.lerna_backup
Due: none

chore: 更新依赖
  packages/milktea-cli/package.json
  packages/milktea-cli/package.json.lerna_backup
  packages/milktea/package.json
  packages/milktea/package.json.lerna_backup
  packages/server/package.json
  packages/server/package.json.lerna_backup
Due: none

chore: 调整eslint规则，使ts文件也能被检测
  .eslintignore
  .eslintrc.yml
  package.json
  packages/util-tools/test/update.js
Due: eslint

chore: 添加eslint-plugin-react的版本号配置
  .eslintrc.yml
Due: none

chore: 调整eslint配置
  .eslintrc.yml
Due: none

chore: 更新依赖
  package.json
Due: none

chore: 修改eslint的配置
  .eslintrc.yml
Due: none

chore: 修改eslint配置
  .eslintrc.yml
Due: none

feat: 使用vue-class-component组件，使用类react写法
  package.json
  src/AppModule.js
  src/assembly/Arrangement/index.js
  src/assembly/Content/index.js
  src/assembly/Header/humanInformation.js
  src/assembly/Header/index.js
  src/assembly/Main/index.js
  src/assembly/Sider/index.js
  src/modules/Index/Index/index.js
Due: none

chore: 修改lint-staged的配置
  .lintstagedrc.yml
Due: none

ci: eslint检查允许检查ts类型文件
  package.json
Due: none

style: 使用eslint检查代码并修改错误的代码格式
  packages/milktea/src/milktea.ts
  packages/util-tools/src/update.ts
Due: tslint

更新依赖
  package.json
  packages/milktea-cli/package.json
  packages/milktea/package.json
  packages/server/package.json
  packages/util-tools/package.json
Due: none

chore: 调整lint的配置
  tslint.json
Due: none

style: 修改eslint配置，并格式化代码
  .eslintrc.yml
  package.json
  src/AppModule.js
  src/app.js
  src/assembly/Arrangement/index.js
  src/assembly/Content/index.js
  src/assembly/ErrorBoundary/index.js
  src/assembly/Header/HumanInformation.js
  src/assembly/Header/index.js
  src/assembly/Main/index.js
  src/assembly/Sider/index.js
  src/assembly/SwitchLoading/index.js
  src/imports.js
  src/modules/Form/Index/index.js
  src/modules/Form/Layout.js
  src/modules/Index/Index/ListDisplay.js
  src/modules/Index/Index/index.js
  src/modules/Index/Layout.js
  src/modules/Index/store/reducer.js
  src/modules/List/Index/index.js
  src/modules/List/Layout.js
  src/modules/List/store/module1.js
  src/modules/List/store/reducer.js
  src/router/Routers.js
  src/router/asyncModule.js
  src/store/loadReducer.js
  src/store/reducers.js
  src/store/store.js
Due: none

style: 修改eslint配置，并格式化代码
  .eslintrc.yml
  package.json
  src/AppModule.js
  src/app.js
  src/assembly/Arrangement/index.js
  src/assembly/Content/index.js
  src/assembly/Header/humanInformation.js
  src/assembly/Header/index.js
  src/assembly/Main/index.js
  src/assembly/Sider/index.js
  src/imports.js
  src/modules/Index/Index/index.js
  src/modules/Index/Layout.js
  src/modules/Index/store/index.js
  src/modules/Page/Layout.js
  src/store/store.js
Due: none

chore: 更新依赖
  packages/milktea/package.json
Due: none

perf: 调整了流的判断方法和流数据的获取，使网络上的流数据可以被压缩
  packages/server/src/koa-iltorb/index.ts
  packages/server/src/utils/utils.ts
Due: tslint

perf: html-webpack-plugin生产环境编译后注入脚本时添加hash
  packages/milktea/src/plugins/plugins.ts
Due: tslint
